:root {
  --color-text-primary: var(--color-gray-900);
  --color-text-complementary: var(--color-gray-700);
  --color-text-secondary: var(--color-gray-600);
  --color-text-hint: var(--color-gray-400);

  --color-text-info: var(--color-blue-600);
  --color-text-positive: var(--color-green-600);
  --color-text-warning: var(--color-amber-600);
  --color-text-danger: var(--color-red-600);
  --color-text-utility: var(--color-blue-600);
  --color-text-misc: var(--color-purple-600);

  --color-text-light-primary: var(--color-white);
  --color-text-light-complementary: var(--color-gray-200);
  --color-text-light-secondary: var(--color-gray-400);
  --color-text-light-hint: var(--color-gray-500);

  --color-text-dark-primary: var(--color-gray-900);
  --color-text-dark-complementary: var(--color-gray-700);
  --color-text-dark-secondary: var(--color-gray-600);
  --color-text-dark-hint: var(--color-gray-400);

  --color-text-inverted-primary: var(--color-white);
  --color-text-inverted-complementary: var(--color-gray-300);
  --color-text-inverted-secondary: var(--color-gray-400);
  --color-text-inverted-hint: var(--color-gray-500);

  --color-text-brand: var(--color-blue-600);
  --color-text-brand-heavy: var(--color-blue-700);
  --color-text-brand-contrast: var(--color-white);

  --color-text-link: var(--color-blue-600);
  --color-text-link-hover: var(--color-blue-500);
  --color-text-link-visited: var(--color-purple-600);
  --color-text-link-visited-hover: var(--color-purple-500);

  --color-base-background: var(--color-white);
  --color-base-background-complementary: var(--color-gray-50);
  --color-base-background-secondary: var(--color-gray-100);
  --color-base-background-hint: var(--color-gray-200);
  --color-base-background-сomplementary-heavy: var(--color-gray-200);

  --color-base-background-elevated: var(--color-white);
  --color-base-background-modal: var(--color-white);

  --color-base-background-hover: var(--color-gray-100);
  --color-base-background-active: var(--color-gray-200);
  --color-base-background-disabled: var(--color-gray-50);

  --color-base-border: var(--color-gray-200);
  --color-base-border-hover: var(--color-gray-300);
  --color-base-border-active: var(--color-blue-600);
  --color-base-border-disabled: var(--color-gray-100);

  --color-base-info-light: var(--color-blue-50);
  --color-base-positive-light: var(--color-green-50);
  --color-base-warning-light: var(--color-amber-50);
  --color-base-danger-light: var(--color-red-50);

  --color-base-info-heavy: var(--color-blue-600);
  --color-base-positive-heavy: var(--color-green-600);
  --color-base-warning-heavy: var(--color-amber-600);
  --color-base-danger-heavy: var(--color-red-600);
}

.dark {
  /* --- Текст --- */
  --color-text-primary: var(--color-gray-50);
  --color-text-complementary: var(--color-gray-300);
  --color-text-secondary: var(--color-gray-400);
  --color-text-hint: var(--color-gray-500);

  --color-text-info: var(--color-blue-400);
  --color-text-positive: var(--color-green-400);
  --color-text-warning: var(--color-amber-400);
  --color-text-danger: var(--color-red-400);
  --color-text-utility: var(--color-blue-400);
  --color-text-misc: var(--color-purple-400);

  --color-text-light-primary: var(--color-white);
  --color-text-light-complementary: var(--color-gray-200);
  --color-text-light-secondary: var(--color-gray-400);
  --color-text-light-hint: var(--color-gray-500);

  --color-text-dark-primary: var(--color-gray-900);
  --color-text-dark-complementary: var(--color-gray-700);
  --color-text-dark-secondary: var(--color-gray-600);
  --color-text-dark-hint: var(--color-gray-400);

  --color-text-inverted-primary: var(--color-white);
  --color-text-inverted-complementary: var(--color-gray-300);
  --color-text-inverted-secondary: var(--color-gray-400);
  --color-text-inverted-hint: var(--color-gray-500);

  --color-text-brand: var(--color-blue-400);
  --color-text-brand-heavy: var(--color-blue-300);
  --color-text-brand-contrast: var(--color-gray-950);

  --color-text-link: var(--color-blue-400);
  --color-text-link-hover: var(--color-blue-300);
  --color-text-link-visited: var(--color-purple-400);
  --color-text-link-visited-hover: var(--color-purple-300);

  --color-base-background: var(--color-gray-950);
  --color-base-background-complementary: var(--color-gray-900);
  --color-base-background-secondary: var(--color-gray-800);
  --color-base-background-hint: var(--color-gray-700);
  --color-base-background-сomplementary-heavy: var(--color-gray-700);

  --color-base-background-elevated: var(--color-gray-900);
  --color-base-background-modal: var(--color-gray-900);

  --color-base-background-hover: var(--color-gray-800);
  --color-base-background-active: var(--color-gray-700);
  --color-base-background-disabled: var(--color-gray-800);

  --color-base-border: var(--color-gray-700);
  --color-base-border-hover: var(--color-gray-600);
  --color-base-border-active: var(--color-blue-500);
  --color-base-border-disabled: var(--color-gray-800);

  --color-base-info-light: var(--color-blue-950);
  --color-base-positive-light: var(--color-green-950);
  --color-base-warning-light: var(--color-amber-950);
  --color-base-danger-light: var(--color-red-950);

  --color-base-info-heavy: var(--color-blue-400);
  --color-base-positive-heavy: var(--color-green-400);
  --color-base-warning-heavy: var(--color-amber-400);
  --color-base-danger-heavy: var(--color-red-400);
}
